@import 'tailwindcss';

@theme {
  --color-primary: #212121; /* Preto para textos */
  --color-secondary: #ff6600; /* Laranja de destaque */
  --color-third: #616161; /* Cinza médio para detalhes */
  --color-main-bg: #f8f8f8; /* Cinza muito claro */
  --color-main-bg2: #ffffff; /* Branco puro */
  --color-navbg: #ebebeb; /* Cinza muito claro para o navbar */
}
